{{ template "base" .}}

{{ define "title"}}Create a New Post{{ end }}

{{define "body"}}
<form action='/post/create' method='POST' enctype="multipart/form-data">
    {{with .Form}}
    <div>
        {{with .Errors.Get "generic"}}
        <div class="error">{{.}}</div>
        {{end}}
        <label>Title:</label>
        {{with .Errors.Get "title"}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type='text' name='title' value='{{.Get "title"}}'>
    </div>
    <div>
        <label>Content:</label>
        {{with .Errors.Get "content"}}
            <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Get "content"}}</textarea>
    </div>
    <div>
        {{with .Errors.Get "image"}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="file" name="image">
        <div>
            <label>Category:</label>
                {{with .Errors.Get "tags"}}
                    <label class="error">{{.}}</label>
                {{end}}
                {{range $category := .Categories}}
                    <div>
                        <input type="checkbox" name="categories" value="{{$category.Name}}">
                        <label>{{$category.Name}}</label>
                    </div>
                {{end}}
        </div>
    </div>
    <div>
        <input type="submit" value="Publish post">
    </div>
    {{end}}
</form>
{{end}}