{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "body"}}
<form action="/user/registration" method="POST" novalidate>
    {{with .Form}}
    <div>
        {{with .Errors.Get "generic"}}
            <div class="error">{{.}}</div>
        {{end}}
        <label>Name:</label>
        {{with .Errors.Get "name"}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="name" value="{{.Get "name"}}">
    </div>
    <div>
        <label>Email:</label>
        {{with .Errors.Get "email"}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="email" name="email" value="{{.Get "email"}}">
    </div>
    <div>
        <label>Password:</label>
        {{with .Errors.Get "password"}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Signup">
    </div>
    <div class="logo_sso">
        <a href="/google/login">
            <button class="logo_sso_button" type="button">
                <img class="logo_sso_img" src="/static/assets/google.png" alt="Login with Google">
                <label>Continue with Google</label>
            </button>
        </a>
    </div>
    <div class="logo_sso">
        <a href="/github/login">
            <button class="logo_sso_button" type="button">
                <img class="logo_sso_img" src="/static/assets/github.png" alt="Login with GitHub">
                <label>Continue with Github</label>
            </button>
        </a>
    </div>
    {{end}}
</form>
{{end}}